:root{
    /* DIMENSIONS */
    --base-padding: 0 8rem;
    --projects-padding: 6rem;
    --about-padding: 6rem;
    --footer-padding: 0 6rem;

    /* COLORS */
    --dark-green: #26281e;
    /* --dark-green: #918d11; */
    --light-grey: #f0f0f0;
    
    /* FONTS */
    --p-font: 400 .9rem/1.5 'General sans', serif;
    --h1-font: 600 6rem/1 'General sans', serif;
    --h2-font:  600 4rem/1 'General sans', serif;
    --h3-font: 500 1.5rem/1 'General sans', serif;
    --h4-font: 700 .8rem/1 'General sans', serif;
    --link-font: 500 .7rem/1 'General sans', serif;
    --eyebrow-font: 700 .7rem/1 'General sans', serif;
    
    /* font colors */
    --p-color: var(--dark-green);
    --h1-color: var(--dark-green);
    --h2-color: var(--dark-green);
    --h3-color: var(--dark-green);
    --h4-color: var(--dark-green);
    --link-color: var(--dark-green);
    --eyebrow-color: var(--dark-green);
}



/*=======================================
 BASE STYLES 
========================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--light-grey);
    font: var(--p-font);
    overflow-x: hidden;
}

/* TEXT STYLES */

p{ font: var(--p-font); color: var(--p-color); }
h2{ font: var(--h2-font); color: var(--h2-color); }
h3{ font: var(--h3-font); color: var(--h3-color); }
h4{ font: var(--h4-font); color: var(--h4-color); margin-bottom: .5rem; opacity: 0.6;}
a{ font: var(--link-font); color: var(--link-color); }
.eyebrow{ font: var(--eyebrow-font); color: var(--eyebrow-color); opacity: 0.6; width: 100%; }

p, a, .eyebrow{
    letter-spacing: .06rem;
    line-height: 1.3;
}
h2, h3, h4{
    letter-spacing: .06rem;
    line-height: 1;
}

ul{
    /* list-style: none; */
}

.line{
    width: 100%;
    height: .01rem;
    background: var(--dark-green);
    /* margin: 1rem 0; */
}


/*=======================================
 NAVIGATION 
========================================*/
nav{
    position: fixed;
    top: 0;

    background: var(--light-grey);
    height: 6rem;
    width: 100%;
    padding: var(--base-padding);

    display: flex;
    align-items: center;
}
.nav-logo{
    background: red;
    /* height: 5rem; */
}
nav ul{
    /* background: blue; */
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

nav .nav-btn{
    /* background: green; */
    text-align: center;
    /* width: 6rem; */
    padding: .5rem 1rem;
}


nav ul li a{
    text-decoration: none;
    font: var(--link-font);
    color: var(--link-color);
}



/*=======================================
 HEADER 
========================================*/
header{
    /* background-image: url('https://images.unsplash.com/photo-1489537235181-fc05daed5805?q=80&w=2342&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */

    height: 100vh;
    width: 100vw;
    padding: var(--base-padding);
    margin: 3rem 0 0 0;


    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 4rem;
}


.heading{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background: purple; */
    flex: 1
}
.name-title{
    font: var(--p-font);
    color: var(--p-color);
}
h1{
    /* background: blue; */
    font: var(--h1-font);
    color: var(--h1-color);
}

.brief-intro p{
    font: var(--p-font);
    color: var(--p-color);
    text-align: justify;
}

.header-btn{
    border: 1px solid var(--dark-green);
    border-radius: 9px;
    background: var(--light-grey);
    padding: 1rem 2rem;
    font: var(--link-font);
}


.header-image{
    background: red;
    width: 80%;
    height: 50%;
}









/*=======================================
 MAIN
========================================*/
main{}


/* CAREER SECTION ************************/
.career{
    background: rgb(240, 240, 201);
    width: 100%;
    padding: var(--projects-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.career-timeline{
    position: relative;
    background: green;
    width: 100%;
    height: 30vh;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    /* gap: 4rem; */
}

.timeline-years{
    /* background: red; */
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeline-item{
    position: absolute;
    background: red;
    width: fit-content;
    padding: 1rem;
    border-radius: 4px;
}

.current-stats{
    background: blue;
    width: 100%;
    padding: 2rem 0;
    
}
.current-stats section{
    padding: 2rem 20rem;
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */
}
.current-stats section p{
    background: red;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 1rem;
    border-radius: 4px;
}

/* PROJECTS SECTION ************************/
.projects{
    background: rgb(201, 211, 240);
    /* width: 100%; */
    padding: var(--projects-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects .header{
    padding: 1rem 0;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects .header p{
    font-style: italic;
}

.projects{
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 4rem;
}



/* ABOUT SECTION ************************/
.about{
    background: rgb(240, 201, 201);
    width: 100%;
    padding: var(--about-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about .main{
    /* background: red; */
    /* width: 100%; */

    display: flex;
    justify-content: space-between;
    gap: 8rem;
    align-items: center;
}

.about .main .left{
    /* background: green; */
    /* width: 50%; */
}
.about .main .right{
    /* background: rgb(112, 112, 146); */
    /* width: 40%; */

    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}


.about .main .right .content{
    padding: 4rem 0;
    /* background: black; */
}
.statement{}

.skills{
    display: flex;
    justify-content: space-between;
}
.skills ul{
    list-style: none;
}

.education{}






/*=======================================
 FOOTER
========================================*/
footer{
    background: var(--dark-green);
    width: 100%;
    padding: var(--footer-padding);
    
    color: var(--light-grey);
}
footer h2{ opacity: 1; color: var(--light-grey); }
footer p, footer a{ color: var(--light-grey); opacity: .8; }

.contact{
    /* background: red; */
    width: 100%;
    padding: 6rem 0 0 0;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.contact p{ font-style: italic; margin-top: 2rem;}
.contact ul{
    text-align: right;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}



footer .line{
    margin: 2rem 0;
    background-color: var(--light-grey);
    opacity: 0.4;
}

footer .end{
    /* background: red; */
    width: 100%;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font: var(--p-font);
    color: var(--p-color);
}
